[submodule "acp-go-sdk"]
	path = acp-go-sdk
	url = https://github.com/coder/acp-go-sdk.git

[submodule "acp-go-ironpark"]
	path = acp-go-ironpark
	url = https://github.com/ironpark/acp-go.git

[submodule "acp-spec"]
	path = acp-spec
	url = https://github.com/agentclientprotocol/agent-client-protocol.git
